
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@400;500;600;700&family=Roboto:wght@400;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');


body {
  background-color: #F8F8F8;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header,
.as-seen{
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* width: 100%; */
  flex-direction: row;
}
.logos-a{
  width: auto;
  height: 5rem;
}
.as-seen{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;

}
.as-seen img{
  width: auto;
  height: 3rem;
}

.app,
.chat {
  max-width: 1100px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  width: inherit;
}

.chat-messages {
  max-height: 800px;
  /* padding-top: 50px; */
  padding: 10px;
  display: flex;
  max-width: 1400px;
  flex: 1 1;
  /* overflow-y: auto; */
  padding: 10px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.user {
  align-self: flex-end;
  background-color: #5cb85c;
  color: #fff;
}

.assistant {
  align-self: flex-start;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px;
  border: none;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.admin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

/* Sidebar Styles */
.sidebar {
  position: sticky;
  top: 1rem;
  left: 1rem;
  background-color: #333;
  color: white;
  padding: 20px;
  min-width: 20vw;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #555;
}

/* Chat Styles */
.chat {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

.chat-container {
  display: flex;
  /* flex: 1; */
  overflow: hidden;
}

/* Chat Window Styles */
.chat-window {
  background-color: #f4f4f4;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-window .message {
  margin-bottom: 20px;
}

/* Input Styles */
.input-container {
  display: flex;
  padding: 10px;
}

.input-container input {
  flex: 1;
  padding: 10px;
}

.input-container button {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
}

.input-container button:hover {
  background-color: #45a049;
}
.clear-btn {
  background-color: #007bff;
  margin-top: 2rem;
}

#loading {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}


@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


.how-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* padding: 30px 0px; */
  width: 100% !important;
}
.how-main,
.seen-main,
.notice-main,
.privacy-main,
.max-main,
.max-text,
.roll-main,
.exp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  /* margin-top: 1rem; */
}
.max-main{
  gap: 1rem;
  background-color: #F0F0F0;
}
.max-main p{
  color: #000;
}
.max-text{
  gap: 20px;
  align-items: start;
}


.notice-main{
  background-color: #000;
}
.logo-con{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.privacy-main{
  background-color: #000;
}

.main-con{
  width: 100vw !important;
  /* margin: 0; */
}
.how-work h1 {
  font-size: 38px;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
}
.how-work p {
  font-size: 22px;
  color: rgb(131, 130, 130);
  text-align: center;
  max-width: 1200px;
}
.notice-main>p{
  color: #d8d8d8;
}
.exp{
  flex-direction: row;
}
.mockup{
  max-width: 30rem;
  height: 100%;
}

.max-main p,
.roll-main p{
  color: #000;
}
.roll-main p{
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}

.text-each p{
  max-width: 60rem;
  text-align: start;
  color: rgb(131, 130, 130);

}
.logos{
  width: auto;
  height: 5rem;
}
.exp span{
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  font-style: normal;
  max-width: 50%;
}
.chat > h5{
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  max-width: 900px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1124px) {
  .logo{
    height: 3rem;
  }
  .as-seen span{
    font-size: 12px;
  }
.as-seen img{
  height: 1.5rem;
}
  .main-text{
    font-size: 26px !important;
  }
  .how-work h1 {
    font-size: 30px;
  }
  .how-work p {
    font-size: 16px;
  }
  .mockup{
    max-width: 20rem;
  }
  .logos{
    height: 4rem;
  }
  .exp span{
    font-size: 17px;
    max-width: 70%;
  }
}
@media screen and (max-width:520px) {
  .logo{
    height: 5rem;
  }
  .header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-text{
    font-size: 20px !important;
  }
  .main-p{
    font-size: 18px !important;
    display: none;
  }
  .exp{
    flex-direction: column;
  }
  .admin-container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    position: inherit;

    width: 80vw;
  }
  .logo {
    height: 4rem;
  }
  .exp span{
    text-align: center;
    font-size: 14px;
    max-width: 100%;
  }
  .chat-input {
    width: 100%;
    gap: 20px;
    flex-direction: column;
    padding: 0;
  }
  .as-seen img{
    height: 1.4rem;
  }
  .chat-input button,
  .chat-input input{
    width: 100%;
    margin: 0;
  }
  .mockup{
    max-width: 15rem;
  }
  .how-work h1 {
    font-size: 25px;
  }
  .how-work p {
    font-size: 14px;
  }
  .logos{
    height: 3rem;
  }
  .max-main,
  .roll-main,
  .how-work p{
    text-align: center;
  }
  .main-text{
    font-size: 12px;
  }
  .notice-main p{
    font-size: 12px;
  }
  .chat > h5{
    font-size: 16px;
  }
  .chat {
    max-height: 95vh !important;
}
}
